# Placeholder template for rabbitmq.conf.
# This file is managed by Ansible.
#
# loopback_users.guest = false
# cluster_formation.peer_discovery_backend = classic_config
# cluster_formation.classic_config.nodes.1 = rabbit@{{ groups['rabbitmq_servers'][0] }}
# cluster_formation.classic_config.nodes.2 = rabbit@{{ groups['rabbitmq_servers'][1] }}