# Placeholder template for odoo.conf.
# This file is managed by Ansible.
# [options]
# addons_path = {{ odoo_home }}/addons,...
# admin_passwd = {{ odoo_admin_password }} ; from vault
# db_host = {{ odoo_db_host }}
# db_port = {{ odoo_db_port }}
# db_user = {{ odoo_db_user }}
# db_password = {{ odoo_db_password }} ; from vault
# ...