# This is a placeholder for the odoo.conf template.
#
# [options]
# ; This is the password that allows database operations:
# admin_passwd = {{ odoo_admin_passwd_from_vault }}
# db_host = {{ odoo_db_host }}
# db_port = {{ odoo_db_port }}
# db_user = {{ odoo_db_user }}
# db_password = {{ odoo_db_password_from_vault }}
# addons_path = /opt/odoo/odoo-server/addons,/opt/odoo/custom/addons
# logfile = /var/log/odoo/odoo-server.log
# workers = {{ odoo_workers }}
# ...